body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 360px;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}

button {
    background: #2c5364;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #203a43;
}
